header {
  width: 100%;
  background: -webkit-linear-gradient(
    hsl(var(--background)),
    hsl(var(--background)),
    hsl(var(--background)),
    hsla(var(--background), 0.9),
    hsla(var(--background), 0.6),
    transparent
  );
  position: fixed;
  z-index: 50;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    padding: 2px 12px;
    margin: 0 auto;
    animation: fadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-image: -webkit-linear-gradient(
      hsla(var(--muted), 0.6),
      hsla(var(--muted))
    );

    border-radius: 9999px;
    border: 1px solid hsla(var(--border));
    transition: border 0.2s;

    &:hover {
      color: hsla(var(--primary));
      border: 1px solid hsla(var(--primary), 0.8);
      transition: all 0.2s;
    }

    .icon {
      color: hsla(var(--primary));
      height: 20px;
      width: 20px;
    }

    .label {
      font-weight: 600;
      letter-spacing: 0.1em;
    }
  }
  .dark-mode-toggle {
    z-index: 100;
    background: hsla(var(--background));
    color: hsla(var(--foreground));
    border: 2px solid hsla(var(--border));
    padding: 8px;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;

    .icon {
      height: 18px;
      width: 18px;
    }
    .sun {
      display: block;
    }

    .moon {
      display: none;
    }
    :root:has(.dark) & {
      .sun {
        display: none;
      }

      .moon {
        display: block;
      }
    }
  }

  .dark-mode-toggle:hover {
    border-radius: 99px;
    transition: all 0.2s ease-in-out;
  }
}

nav {
  width: fit-content;
  margin: 1rem auto;
  animation: slideInFromTop 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s;
  padding-right: 4.2rem;

  ul {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: hsla(var(--background));
    border: 2px solid hsla(var(--border));
    border-radius: 9999px;
    padding: 4px;
    gap: 4px;

    li {
      height: 32px;
      position: relative;
      border-radius: 9999px;
      transition: all 0.2s;

      @media (max-width: 640px) {
        & {
          height: 40px;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 14px;
        z-index: 10;
        font-weight: 500;
        display: flex;
        animation: fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        .icon {
          padding: 1px 0 0;
          display: none;
          font-size: 18px;
        }

        @media (max-width: 640px) {
          & {
            padding: 0 12px;
          }
          .icon {
            display: block;
          }
          .label {
            display: none;
          }
        }
      }
    }

    li.active {
      color: hsla(var(--primary));

      a {
        align-items: center;
        gap: 0.5rem;
        .icon {
          display: block;
        }
        .label {
          display: block;
        }
      }
    }

    li::after {
      position: absolute;
      content: "";
      display: block;
      inset: 8px;
      border-radius: 1.25rem;
      background-color: transparent;
      border: 2px solid hsla(var(--muted), 0);
      transition: all 0.2s;
      animation: fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    li:hover::after {
      inset: 0;
      border: 2px solid hsla(var(--muted));
      transition: all 0.2s;
    }

    li.active::after {
      inset: 0;
      background-image: -webkit-linear-gradient(
        hsla(var(--muted), 0.9),
        hsla(var(--muted), 0.6)
      );
      transition: all 0.2s;
    }
  }
}

@media (max-width: 640px) {
  header {
    .header-wrapper {
      padding: 0.8rem 1.2rem;
    }
  }
  nav {
    position: absolute;
    top: 88dvh;
    right: 0;
    left: 0;
    animation: slideInFromBottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.2s;
    padding-right: 0;
  }
}
