@keyframes slideInFromTop {
  from {
    transform: translateY(-200%);
    scale: 0.8;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(200%);
    scale: 0.9;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-200%);
    scale: 0.9;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(200%);
    scale: 0.9;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
